<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,minimum-scale=0.1,maximum-scale=10,initial-scale=1.0,user-scalable=yes"/>

        <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/common.css">
       
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/main.js"></script>

        <script src="js/index.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <title></title>
    </head>
    <body>
        <div id="page-content">
            <div class="col-md-3">
                <div v-if="gameinfo != null">
                    <div><label>Round: {{gameinfo.round}}</label></div>
                    <table class="table">
                        <tr>
                            <th>color</th>
                            <th>player</th>
                            <th>score</th>
                        </tr>
                        <tr v-for="p in gameinfo.players">
                            <td><div class="mapnode" v-bind:style="makecolor(p.playerid)"></div></td>
                            <td>{{p.name}}</td>
                            <td>{{p.score}}</td>
                        </tr>
                    </table>
                </div>
                <div v-if="gameinfo == null">
                    loading...
                </div>
            </div>
            <div class="border-l gamemap col-md-9" v-if="gameinfo != null">
                <div v-for="(row, y) in gameinfo.gamemap" class="mapline">
                    <div class="mapnode" v-for="(col, x) in row" v-bind:class="{ 'empty': col.p == 0 }" v-bind:style="makecolor(col.p)" v-bind:p="col.p" v-bind:h="col.h">
                        <div v-if="x == gameinfo.attack.x && y == gameinfo.attack.y" class="attack">X</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

